<div class="menu">
  <app-logo>

  </app-logo>
  <ul class="menuItems">
    <li  >
      <a [routerLink]="['/home']"  class="baseFontColor">
        <i class="fa fa-home fa-2x"></i>
        <div>Home</div>
      </a>
    </li>
    <li class="baseFontColor">
      <a [routerLink]="['/home']"  class="baseFontColor">
        <i class="fa fa-history fa-2x"></i>
        <div>Experiences</div>
      </a>
    </li>
    <li class="baseFontColor">
      <a [routerLink]="['/home']"  class="baseFontColor">
        <i class="fa fa-code fa-2x"></i>
        <div>Skills</div>
      </a>
    </li>
    <li class="baseFontColor">
      <a [routerLink]="['/home']"  class="baseFontColor">
        <i class="fa fa-heart fa-2x"></i>
        <div>Family</div>
      </a>
    </li>
    <li class="baseFontColor">
      <a [routerLink]="['/home']"  class="baseFontColor">
        <i class="fa fa-envelope fa-2x"></i>
        <div>Contact</div>
      </a>
    </li>
  </ul>
</div>
