<div class="menu">
  <app-logo>

  </app-logo>
  <ul class="menuItems">
    <li class="baseFontColor">
      <i class="fa fa-home fa-2x"></i>
      <div>Home</div>      
    </li>
    <li class="baseFontColor">
      <i class="fa fa-history fa-2x"></i>
      <div>Experiences</div>
    </li>
    <li class="baseFontColor">
      <i class="fa fa-code fa-2x"></i>
      <div>Skills</div>
    </li>
    <li class="baseFontColor">
      <i class="fa fa-heart fa-2x"></i>
      <div>Family</div>
    </li>
    <li class="baseFontColor">
      <i class="fa fa-envelope fa-2x"></i>
      <div>Contact</div>
    </li>
  </ul>
</div>