.menu{
    background-color: rgb(80, 80, 80);
    height: 100%;
    width: 100%;
    position: absolute;
    top:0px;
    left:0px;
}

.menuItems{
    -webkit-padding-start: 0px!important;
    border:0px;
    margin:0px;
    list-style: none;
    vertical-align: middle;
    text-align: center;
}

ul > li{
    padding-left: 0px;
    padding-top: 50px;
}

a > div{
    opacity:0;
    /* max-height:0px!important;
    max-width:0px!important; */
}

a > i:hover{
    opacity:0;
    /* max-height:0px!important;
    max-width:0px!important; */
}
a > i:hover ~ div{
    opacity:100;
    margin-top:-20px!important;
    margin-bottom: 20px;
}


a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}