@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

@font-face { font-family: "La Belle Aurore"; src: url("../../assets/fonts/LaBelleAurore.ttf"); }
@font-face { font-family: "Amethyst"; src: url("../../assets/fonts/AmethystModified-Regular.otf"); }
@font-face { font-family: "AmethystBasic-Regular"; src: url("../../assets/fonts/AmethystBasic-Regular.otf"); }
@font-face { font-family: "mensch-thin"; src: url("../../assets/fonts/mensch-thin.ttf"); }

.htmlCode{
    font-family: 'La Belle Aurore', cursive;
    color:rgb(80, 80, 80);
    position: absolute;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.xp{
  display: inline-block;
  padding: 7px;
  color: rgb(180, 180, 180);
}
.bracket:hover ~ .bracket{
  color: red;
}

.welcome>div>span{
  font-size: 3em;
  color: white;
  font-family: 'AmethystBasic-Regular';
}
.welcome>div>span:hover{
  font-size: 3em;
  color: white;
  font-family: 'Amethyst';
}
.htmlOpen{
  top: Calc(5%);
  left: Calc(2%);
}
.htmlClose{
  top: Calc(95%);
  left: Calc(2%);
}
.bodyOpen{
  top: Calc(10%);
  left: Calc(5%);
}
.bodyClose{
  top: Calc(90%);
  left: Calc(5%);
}
.h1Open{
  top: Calc(35%);
  left: Calc(10%);
}
.h1Close{
  /* top: Calc(31%);*/
  padding-top: Calc(2%);
  left: Calc(-2%); 
}
.h1Content{
  position: absolute;
  top: Calc(38%);
  left: Calc(12%);
}
.devOpen{
  padding-top: Calc(6%);
  left: Calc(-2%);
}
.devClose{
  /* top: Calc(31%);*/
  padding-top: Calc(3%);
  left: Calc(-2%); 
}
.devContent{
  padding-top: Calc(12%);
}

@keyframes fontbulger {
  0% {
    font-size: 3em;
  }
  50% {
    font-size: 4em;
  }
  100% {
    font-size: 3em;
  }
}

/* 
.animated
{
-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both
}
@-webkit-keyframes rubberBand
{
    0% { -webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
    30% { -webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}
    40% { -webkit-transform:scale3d(0.75,1.25,1);transform:scale3d(0.75,1.25,1)}
    50% { -webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}
    65% { -webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}
    75% { -webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}
    100% { -webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
 
@keyframes rubberBand
{
0%
{
-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%
{
-webkit-transform:scale3d(1.25,.75,1);-ms-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%
{
-webkit-transform:scale3d(0.75,1.25,1);-ms-transform:scale3d(0.75,1.25,1);transform:scale3d(0.75,1.25,1)}50%
{
-webkit-transform:scale3d(1.15,.85,1);-ms-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%
{
-webkit-transform:scale3d(.95,1.05,1);-ms-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%
{
-webkit-transform:scale3d(1.05,.95,1);-ms-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%
{
-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}

.rubberBand
{
-webkit-animation-name:rubberBand;animation-name:rubberBand} */