<!-- <div class="rubberBand xxx animated" style="color: red;">a</div>
<div class="rubberBand xxx animated" style="color: red;">d</div> -->

<div >
    <div class="htmlCode htmlOpen">&lt;html&gt;</div>

        <div class="htmlCode bodyOpen">&lt;body&gt;</div>

            <div class="htmlCode h1Open">&lt;h1&gt;</div>

            <div class="h1Content">
                <div class="welcome">
                        <div>
                            <span>H</span><span>I</span><span>,</span>
                        </div>
                        <div>
                            <span>T</span><span>H</span><span>I</span><span>S</span>
                            <span>&nbsp;&nbsp;&nbsp;</span><span>&nbsp;&nbsp;&nbsp;</span><span>&nbsp;&nbsp;&nbsp;</span>
                            <span>I</span><span>S</span>
                            <span>&nbsp;&nbsp;&nbsp;</span><span>&nbsp;&nbsp;&nbsp;</span><span>&nbsp;&nbsp;&nbsp;</span>
                            <span>K</span><span>M</span><span>A</span><span>R</span><span>K</span><span>O</span><span>.</span><span>N</span><span>E</span><span>T</span>
                        </div>
                    </div>
            </div>

            <div class="htmlCode h1Close">&lt;/h1&gt;</div>

        <div class="htmlCode bodyClose">&lt;/body&gt;</div>

    <div class="htmlCode htmlClose">&lt;/html&gt;</div>
</div>
