<!-- <div class="rubberBand xxx animated" style="color: red;">a</div>
<div class="rubberBand xxx animated" style="color: red;">d</div> -->

<div >
    <div class="htmlCode htmlOpen">&lt;html&gt;</div>

        <div class="htmlCode bodyOpen">&lt;body&gt;</div>

            <div class="htmlCode h1Open">&lt;h1&gt;</div>

            <div class="h1Content">
                <b>
                <div class="welcome">
                        <div>
                            <span>H</span><span>I</span><span>,</span>
                        </div>
                        <div>
                            
                            <span>T</span><span>H</span><span>I</span><span>S</span>
                            <span>&nbsp;&nbsp;&nbsp;</span><span>&nbsp;&nbsp;&nbsp;</span><span>&nbsp;&nbsp;&nbsp;</span>
                            <span>I</span><span>S</span>
                            <span>&nbsp;&nbsp;&nbsp;</span><span>&nbsp;&nbsp;&nbsp;</span><span>&nbsp;&nbsp;&nbsp;</span>
                            <span>K</span><span>M</span><span>A</span><span>R</span><span>K</span><span>O</span><span>.</span><span>N</span><span>E</span><span>T</span>
                            <div class="htmlCode h1Close" style="display: inline-block;">&lt;/h1&gt;</div>

                            <div class="htmlCode devOpen">&lt;dev&gt;</div>
                                <div class="devContent">
                                    <div class="xp bracket">[</div>
                                    <div class="xp devType">Frontend</div>
                                    <div class="xp">|</div>
                                    <div class="xp devType">.NET</div>
                                    <div class="xp">|</div>
                                    <div class="xp devType">Angular 5</div>
                                    <div class="xp bracket">]</div>
                                    <div class="xp">>></div>
                                    <div class="xp">developer</div>
                                    <div class="htmlCode devClose">&lt;/dev&gt;</div> 
                                </div>   
                            

                        </div>
                    </div>
                </b>
            </div>   

        <div class="htmlCode bodyClose">&lt;/body&gt;</div>

    <div class="htmlCode htmlClose">&lt;/html&gt;</div>
</div>
